<div class="col-3 mb-3 min">
    <div class="sidebar">
        <ul class="sidebar-nav">
            <li class="nav-link">
                <a class="nav-link"
                   asp-controller="Admin"
                   asp-action="Order">
                    Заказы
                </a>
            </li>
            <li class="nav-link">
                <a class="nav-link"
                   asp-controller="Admin"
                   asp-action="User">
                    Пользователи
                </a>
            </li>
            <li class="nav-link">
                <a class="nav-link"
                   asp-controller="Admin"
                   asp-action="Role">
                    Роли
                </a>

            </li>
            <li class="nav-link">
                <a class="nav-link"
                   asp-controller="Admin"
                   asp-action="Product">
                    Товары
                </a>
            </li>
        </ul>
    </div>
</div>